<footer>

    <div class="menu2">
        <a class="arrow" href="#photo" name="photo"><img src="./assets/images/ico-arrow.svg" alt="Inicio"
                title="Inicio"></a>
        <div class="links">
            <ul class="link1">
                <li><a href="https://adalab.es/" target="_blank" title="Articles">Articles </a></li>
                <li><a class=" links" href="https://adalab.es/" target="_blank" title="Books"> Books </a> </li>
                <li><a class=" links" href="https://adalab.es/" target="_blank" title="Events"> Events </a> </li>
                <li><a class=" links" href="https://adalab.es/" target="_blank" title="Reasons"> Reasons </a> </li>
                <li><a class=" links" href="https://adalab.es/" target="_blank" title="Tips"> Tips </a> </li>
            </ul>

            <ul class="link2">
                <li><a class=" links" href="https://twitter.com/" target="_blank" title="Twitter">Twitter</a> </li>
                <li><a class=" links" href="https://www.instagram.com/" target="_blank" title="Instagram">Instagram
                    </a> </li>
                <li><a class=" links" href="https://mastodon.social/about" target="_blank"
                        title="Mastodon.social">Mastodon.social</a> </li>
            </ul>
            <div class="copy">
                <small>©2017 <br>
                    we <label class="heart">❤︎</label> components </small>
            </div>
        </div>

</footer>