// fonts
$title-font:'Roboto Slab',
sans-serif;
$text-font: 'Roboto',
sans-serif;

// colors
// orange
$color1:#f26002;
// white
$color2:#ffffff;
// light blue
$color3:#8ccbea;
// blue
$color4:#0271bc;
// dark-blue
$color5:#304268;
//ice blue  
$color6:#eff9ff;