.container {
    background-color: $color2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.small-tips {
    font-size: 14px;
    color: $color3;
    font-family: $text-font;
}

.looking {
    font-family: $title-font;
    font-size: 24px;
}

.text {
    font-family: $text-font;
    font-size: 18px;
}


.go {
    font-size: 20px;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color1;
    margin-top: 20px;
    background-color: $color2;
    color: $color1;
    text-align: center;
    padding-top: 10px;
}

.go:hover {
    background-color: orange;
    box-shadow: 0 8px 15px rgba(238, 65, 22, 0.4);
}

@media all and (min-width: 768px) {
    .looking {

        font-size: 45px;
    }

    .text {
        font-family: $text-font;
        font-size: 20px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}